@import "~@angular/material/prebuilt-themes/indigo-pink.css";
table {
    width: 100%;
}
table, td, th {
    border: 1px solid black;
    border-collapse: collapse;
}

tr {
    height: 15px;
}

td {
    text-align: center;
    min-width: 20px;
    width: 1%;
    height: 15px;
}

.correlation-matrix {
    margin: 10px;
}

.dark-red {
    background: darkred;
}

.red {
    background: red;
}

.orange {
    background: orange;
}

.yellow {
    background: yellow;
}

.salad {
    background: lawngreen;
}

.green {
    background: green;
}

.blue {
    background: blue;
}

.transparent {
    background: transparent;
}

button {
    margin-right: 15px;
}

::ng-deep .mat-spinner {
    position: fixed;
    top: 50%;
    left: 50%;
}

::ng-deep .mat-spinner circle {
    stroke: #ff4081;
}


