<h2>Оберіть критерії для отримання інформації</h2>

<button mat-button
        class="mat-accent"
        [class.mat-raised-button]="year === currentYear"
        *ngFor="let year of years"
        (click)="selectNewTab(year)"
>{{year}}</button>
<ng-container *ngIf="currentYear">
    <br>
    <h3>Оберіть Y</h3>
    <button mat-button
            class="mat-primary"
            [class.mat-raised-button]="column === Y"
            [disabled]="X.indexOf(column) > -1"
            *ngFor="let column of allColumns"
            (click)="selectY(column)"
    >{{column}}</button>

    <h3>Оберіть Xи</h3>
    <button mat-button
            class="mat-accent"
            [class.mat-raised-button]="X.indexOf(column) > -1"
            [disabled]="column === Y"
            *ngFor="let column of allColumns"
            (click)="selectX(column)"
    >{{column}}</button>
    <br>
    <ng-container *ngIf="matrixStudentT">
        <h3>Оберіть таблиці для виводу на екран</h3>
        <button mat-button
                *ngFor="let button of buttons"
                (click)="toggleButton(button.variableName)"
                class="mat-primary"
                [class.mat-raised-button]="this[button.variableName]"
        >{{ button.name }}</button>
        <ng-container *ngIf="isShowIncomingData || isShowAll">
            <h2>Вхідні дані</h2>
            <table>
                <th *ngFor="let column of columns">{{column}}</th>
                <tr *ngFor="let row of viewMatrix">
                    <td *ngFor="let item of row">{{item}}</td>
                </tr>
                <ng-container *ngIf="middleValue">
                    <tr>
                        <td><b>Середнє значення</b></td>
                        <td *ngFor="let item of middleValue">{{item}}</td>
                    </tr>
                    <tr>
                        <td><b>Дисперсія</b></td>
                        <td *ngFor="let item of dispersion">{{item}}</td>
                    </tr>
                </ng-container>
            </table>
        </ng-container>

        <ng-container *ngIf="isShowCorrelation || isShowAll">
            <h2>Кореляція</h2>
            <table>
                <th *ngFor="let column of columns">{{column}}</th>
                <tr *ngFor="let row of viewCorrelationMatrix">
                    <td *ngFor="let item of row"
                        [class.transparent]="item === ''"
                        [class.dark-red]="item === 1"
                        [class.red]="item >= 0.9 && item < 1"
                        [class.orange]="item >= 0.7 && item < 0.9"
                        [class.salad]="item >= 0.5 && item < 0.7"
                        [class.green]="item >= 0.3 && item < 0.5"
                        [class.blue]="item < 0.3"
                        class="six"
                    >{{item}}</td>
                </tr>
            </table>
            <h2>Результат кореляції</h2>
            <table>
                <th>Колір</th>
                <th>Категорія</th>
                <th>Відношення</th>
                <th>Значення</th>
                <tr *ngFor="let row of resultFromCorrelation">
                    <td [class.transparent]="row.value === ''"
                        [class.dark-red]="row.value === 1"
                        [class.red]="row.value >= 0.9 && row.value < 1"
                        [class.orange]="row.value >= 0.7 && row.value < 0.9"
                        [class.salad]="row.value >= 0.5 && row.value < 0.7"
                        [class.green]="row.value >= 0.3 && row.value < 0.5"
                        [class.blue]="row.value < 0.3"
                    ></td>
                    <td *ngFor="let item of row | keyvalue">
                        {{ row[item.key] }}
                    </td>
                </tr>
            </table>
        </ng-container>

        <ng-container *ngIf="isShowNormalizeMatrix || isShowAll">
            <h2>Нормалізована матриця</h2>
            <table>
                <tr *ngFor="let row of normalizeMatrix">
                    <td *ngFor="let item of row">{{item}}</td>
                </tr>
            </table>
        </ng-container>

        <ng-container *ngIf="isShowNormalizeCorrelationMatrix || isShowAll">
            <h2>Нормалізована кореляційна матриця</h2>
            <table>
                <tr *ngFor="let row of normalizeCorrelation">
                    <td *ngFor="let item of row"
                    >{{item}}</td>
                </tr>
            </table>
        </ng-container>

        <ng-container *ngIf="isShowInverseNormalizeCorrelationMatrix || isShowAll">
            <h2>Обернена нормалізована кореляційна матриця</h2>
            <table>
                <tr *ngFor="let row of inverseMatrix">
                    <td *ngFor="let item of row"
                    >{{item}}</td>
                </tr>
            </table>
        </ng-container>

        <ng-container *ngIf="isShowConstants || isShowAll">
            <h2>Константи</h2>
            <table>
                <th>Детермінант</th>
                <th>Xi^2</th>
                <th>Xi^2 обернене</th>
                <tr>
                    <td>{{detmatr}}</td>
                    <td>{{xi2}}</td>
                    <td>{{xi2o}}</td>
                </tr>
            </table>
        </ng-container>

        <ng-container *ngIf="isShowPartCoefficientMatrix || isShowAll">
            <h2>Матриця частичних коефіцієнтів</h2>
            <table>
                <tr *ngFor="let row of matrixPartCoefficient">
                    <td *ngFor="let item of row"
                    >{{item}}</td>
                </tr>
            </table>
        </ng-container>

        <ng-container *ngIf="isShowStudentTMatrix || isShowAll">
            <h2>Матриця t-критеріїв Стьюдента</h2>
            <table>
                <tr *ngFor="let row of matrixStudentT">
                    <td *ngFor="let item of row"
                    >{{item}}</td>
                </tr>
            </table>
            <h2>Результат матриці t-критеріїв Стьюдента</h2>
            <table>
                <th>Назва</th>
                <th>Значення</th>
                <th>Порівняння</th>
                <th>Константа</th>
                <tr *ngFor="let row of resultFromStudentT">
                    <td *ngFor="let item of row | keyvalue">
                        {{ row[item.key] }}
                    </td>
                    <td>{{studentTCoef}}</td>
                </tr>
            </table>
        </ng-container>

        <ng-container *ngIf="isShowRegression || isShowAll">
            <h2>Регрессионная статистика</h2>
            <table>
                <tr *ngFor="let item of regression.regressionStatistic; let i = index">
                    <td>{{regressionStatisticNames[i]}}</td>
                    <td>{{item}}</td>
                </tr>
            </table>

            <h2>Дисперсионный анализ</h2>
            <table>
                <th></th>
                <th>df</th>
                <th>SS</th>
                <th>MS</th>
                <th>F</th>
                <th>Значимость F</th>
                <tr *ngFor="let row of regression.dispersionAnalyze">
                    <td *ngFor="let item of row">{{item}}</td>
                </tr>
            </table>

            <br>
            <table>
                <th></th>
                <th>Коэффициенты</th>
                <th>Стандартная ошибка</th>
                <th>Mt-статистика S</th>
                <th>P-Значение</th>
                <th>Нижние 95%</th>
                <th>Верхние 95%</th>
                <tr *ngFor="let row of regression.result">
                    <td *ngFor="let item of row">{{item}}</td>
                </tr>
            </table>
        </ng-container>
    </ng-container>
    <!--<ng-container *ngIf="!matrixStudentT">-->
        <!--<mat-spinner></mat-spinner>-->
    <!--</ng-container>-->
</ng-container>
